
h1
   {
   font-size: 75px;
   color: white;
   font-family: Courier;
   }
ul
  {
   color: white;
   font-family: Courier;
  }
a
  {
   color: white;
   font-family: Courier;
  }
a:visited
{
 color: white;
 font-family: Courier;
}
a:hover
{
 color: white;
 font-family: Courier;
}

body {
  color: white;
  font-family: Courier;
  font-size: 20px;

}

.magic img{
  width: 400px;
  height: 300px;

}

#demo a {
  color: blue;
}
